extends ../layout/index
block slider
    .slider
        h1 Rio de Janeiro
        em aventura
block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p f a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable E
                p f a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable Ef a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable E
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="", class="img-fluid")
        h2.text-center.mb-5 Proximos Viajes
        include ../layout/partials/viajes

    .descuento  
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% de Descuento
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo 2019- 28 de Marzo
                        p.precio $2,500 MXM

    .container
        h2.text-center.my-5 Testimoniales
        include ../layout/partials/testimoniales